#header
{
	background-image:url(https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash4/1002872_1402396119974644_95875755_n.jpg);
    background-color:#990000;
	width:100%;
	min-height:100px;
}

#left_column
{
	background-color:#990000;
	width:20%;
	min-height:800px;
	float:left;
}

#main_content
{
	width: 79%;
    background-color:#990000;
	min-height:800px;
	float:left;
	font-size:24px;
}

#footer
{
	background-color:#990000;
	width:100%;
	min-height:100px;
	float:left;
	clear:both;
}

h2
{
	color:#000000;
}

form
{
	font-size:16px;
}

h10
{
	font-size:20px;
}
